<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h1 class = 'pageTitle'> Mi Comunidad </h1>

<div class = 'container'>
    <div class ='mb-3'>
        <h5 class = 'h5'><a href='/mycommunity/about'>Informacion sobre tu comunidad</a></h3>
        <h5 class = 'h5'><a href = '/mycommunity/createproposal'>Crear nueva propuesta</a></h3>
    </div>
</div>

<div class="container">
    
    <div class = 'mb-3 pt-3'>
        <h2>Actividad de la comunidad</h2>
    </div>
    <% if (locals.proposals !== undefined){ %>
        <% for(let i = locals.proposals.length - 1; i >= 0 ; i--) { %>
            <%-`<form action = "/mycommunity/vote/${locals.proposals[i].id}" method = "post">` %>
                <%-'<div class = "mb-3 feed-unit">'%>
                    <%-`<p class = "greenParagraphs"> ${locals.proposals[i].authorName} de la casa #${locals.proposals[i].houseNumber} ha propuesto: </p>`%>
                    <%- (locals.proposals[i].type == 'create') ? `<p>La <b><u>creacion</u></b> de una nueva ley:</p>` : `<p>La <b><u>eliminacion</u></b> de la ley #${locals.proposals[i].lawNumber}</p>` %>
                    
                    <% if(locals.proposals[i].passed == true){ %>
                        <%-`<p class = 'passedMessage'><b>PROPUESTA APROBADA POR LA COMUNIDAD EN ${locals.proposals[i].passedDate.toLocaleDateString("en-US")}</b></p>` %>
                    <% }else if (locals.proposals[i].passed == false) { %>
                        <%- `<p class = 'passedMessage'><b>PROPUESTA RECHAZADA POR LA COMUNIDAD EN ${locals.proposals[i].passedDate.toLocaleDateString("en-US")}</b></p>`%>
                    <% } %>

                    <%- (locals.proposals[i].type == 'create') ? `<p><i>${locals.proposals[i].proposal}</i></p>` : `<p><i>${locals.proposals[i].lawText}</i></p>`%>
                    <%- `<p><b>Fecha de creacion de propuesta: </b>${(locals.proposals[i].createdAt != undefined) ? locals.proposals[i].createdAt.toLocaleDateString("en-US") : ''}</p>` %>
                    <%- `<p><b>Votos a favor:</b> ${locals.proposals[i].votesInFavor} <b>Votos en contra:</b> ${locals.proposals[i].votesAgainst} <b>Sin Votar:</b> ${locals.community.innerHomes.length - locals.proposals[i].votesInFavor - locals.proposals[i].votesAgainst}</p>`%>
                    <% if (locals.proposals[i].alreadyVoted == false) { %>
                        <%- '<button class = "btn btn-success" name = "voteButton" value = "accept" type = "submit" data-proposalID = ${locals.proposals[i].id}>Aprovar</button>'%>
                        <%- '<button class = "btn btn-danger" name = "voteButton" value = "reject" type = "submit">Rechazar</button>'%>
                    <% }else { %>
                        <%- (locals.proposals[i].votedValue == true) ? `<p>Aceptaste la propuesta &#9989</p>` : `<p>Rechazaste la propuesta &#10060</p>` %>
                        <%-`<p class = "greenParagraphs"><b><i><u>Gracias por participar!</u></i></b>` %>
                    <% } %>
                <%- '</div>' %>
            <%-'</form>' %>
        <%} %>
    <% } %>

</div>
    
<%- include('./partials/footer.ejs') %>