<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h1 class = 'pageTitle'> Mi Comunidad </h1>

<div class = 'container'>
    <div class ='mb-3'>
        <h5 class = 'h5'><a href='/mycommunity/about'>Informacion sobre tu comunidad</a></h3>
        <h5 class = 'h5'><a href = '/mycommunity/createproposal'>Crear nueva propuesta</a></h3>
    </div>
</div>

<% if(communities.length > 1) {%>
<div class = "container">
    <div class = "mb-3">
        <label class = 'form-label' for = 'communities'>Elige comunidad</label>
        <select id="communities" name="communities">
            <% for(let i = 0; i < communities.length; i++){ %>
                <% if (i == index){ %>
                <%-`<option value="${communities[i].id}" selected>${communities[index].name}</option>` %>
                <% }else { %>
                <%- `<option value="${communities[i].id}">${communities[i].name}</option>` %>
                <% } %>
            <% } %>
        </select>
    </div>
</div>
<% } %>


<div class = "container"> 
    <div class = 'mb-3'>
        <%- `<h2>Actividad de comunidad ${communities[index].name}</h2>` %>
    </div>
</div>

<% for(let i = communities[index].proposals.length - 1; i >= 0 ; i--) { %>
    <%-`<div class = "container">`%>   
        <%-'<div class = "mb-3 feedUnit">'%>
            <%-`<h5 class = "h5"><u>PROPUESTA #${i+1}</u></h3>` %> 
            <%-`<form action = "/mycommunity/vote/${communities[index].proposals[i].id}" method = "post">` %>
                
                <%-`<div class = "feedUnitCollapsable"`%>
                    <% let author_residency_index = communities[index].proposals[i].author.residencies.findIndex(element => element.community.id == communities[index].id);%>
                    <%-`<p class = "greenParagraphs"> ${communities[index].proposals[i].author.fullName} de la casa #${communities[index].proposals[i].author.residencies[author_residency_index].home.innerNumber} ha propuesto: </p>`%>
                    
                    <% switch(communities[index].proposals[i].type){            
                        case "createLaw": %>
                            <%-`<p>La creacion de una nueva ley:</p>`%>
                            <%-`<p><b>${communities[index].proposals[i].citizenActionTitle}</b></p>`%> 
                            <%-`<p>${communities[index].proposals[i].citizenActionBody}</p>` %>

                            <% if(communities[index].proposals[i].beginningDate !== undefined){%>
                                <%-`<p>Ley tomaria efecto en: ${communities[index].proposals[i].citizenActionBeginningDate.toLocaleDateString("en-US")}`%>
                            <% } %>
                            <% if(communities[index].proposals[i].expirationDate !== undefined){ %>
                                <%-`<p>Ley expiraria en: ${communities[index].proposals[i].citizenActionExpirationDate.toLocaleDateString("en-US")}` %>
                            <% } %>
                            <%break; %>
                    <% } %> 
                <%- `</div>` %>
            
                <%-`<div class = "feedUnitStats">`%>
                    <%- `<p><b>Fecha de creacion de propuesta: </b>${(communities[index].proposals[i].createdAt != undefined) ? communities[index].proposals[i].createdAt.toLocaleDateString("en-US") : ''}</p>`%>
                    <%- `<p><b>Votos a favor:</b> ${communities[index].proposals[i].votesInFavor} <b>Votos en contra:</b> ${communities[index].proposals[i].votesAgainst} <b>Sin Votar:</b> ${communities[index].homes.length - communities[index].proposals[i].votesInFavor - communities[index].proposals[i].votesAgainst}</p>`%>
                    <% if(locals.communities[index].proposals[i].passed == true){ %>
                        <%-`<p class = 'passedMessage'><b>PROPUESTA APROBADA POR LA COMUNIDAD EN ${communities[index].proposals[i].passedDate.toLocaleDateString("en-US")}</b></p>` %>
                    <% }else if (locals.communities[index].proposals[i].passed == false) { %>
                        <%- `<p class = 'passedMessage'><b>PROPUESTA RECHAZADA POR LA COMUNIDAD EN ${communities[index].proposals[i].passedDate.toLocaleDateString("en-US")}</b></p>`%>
                    <% } %>
                    <% let vote = communities[index].proposals[i].votes.find(vote => vote.citizen.id == user.id); %>
                    <% if (vote === undefined) { %>
                        <div class = "feedUnitButtons">
                            <%- `<button class = "btn btn-success" name = "voteButton" value = "accept" type = "submit" data-proposalId = ${communities[index].proposals[i].id}>Aprovar</button>`%>
                            <%- `<button class = "btn btn-danger" name = "voteButton" value = "reject" type = "submit" data-proposalId = ${communities[index].proposals[i].id}>Rechazar</button>`%>
                        </div>
                        <% }else { %>
                        <%- (vote === true) ? `<p>Aceptaste la propuesta &#9989</p>` : `<p>Rechazaste la propuesta &#10060</p>` %>
                        <%-`<p class = "greenParagraphs"><b><i><u>Gracias por participar!</u></i></b>` %>
                    <% } %>
                <%-`</div>`%>

            <%-'</form>' %>
        <%- '</div>' %>
    <%-`</div>` %>
<% } %>


<script src = "/scripts/mycommunity.js"></script>

<%- include('./partials/footer.ejs') %>