<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h1>PROFILE PAGE</h1>
<h2> <%= (locals.message != undefined) ? message : '' ;%> </h2>
<p> <%= (locals.firstName != undefined) ? 'First Name: ' + firstName : '' ;%> </p> 
<p> <%= (locals.lastName != undefined) ? 'Last Name: ' + lastName : '' ;%> </p>
<p> <%= (locals.email != undefined) ? 'Email: ' + email : '' ;%> </p>

<%- include('./partials/footer.ejs') %>